<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kgp.tech.interiit.sos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="kgp.tech.interiit.sos.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="kgp.tech.interiit.sos.permission.C2D_MESSAGE" />

    <application
        android:name=".StartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="Login" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="pOlkNf05yGBKaHIXACi9rZOPIRHbvXOwq3bvCWTK" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="7N6XqNFi36GR2e9JJM43IJTgejf2BIqt8N6eRlps" />

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MessageActivity"
            android:label="@string/title_activity_message" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChatlistFragment" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".Chatlist" -->
        <!-- android:label="@string/title_activity_chatlist" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".MapsActivity" /> -->
        <!-- </activity> -->
        <activity android:name=".WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:label="@string/title_activity_signup" >
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="kgp.tech.interiit.sos" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".AcceptSOS"
            android:label="@string/title_activity_accept_sos" >
        </activity>
    </application>

</manifest>
